<div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                  <div class="col-12 col-md">
                         CMS Primer
                         <small class="d-block nb-3 text-muted">Another veryacademy example</small>
                  </div>
                  <div class="col-6 col-md">
                         <h5>Admin</h5>
                         <ul class="list-unstyled text-small">
                               <li><a class="text-muted" href="#"> Post Admin </a></li>
                         </UL>
                  </div>
                   <div class="col-6 col-nd">
                         <h5>About Us</h5>
                         <ul class="list-unstyled text-small">
                               <li><a class="text-muted" href="#"> Hone </a></li>
                         </ul>
                  </div>
                   <div class="col-6col-nd">
                         <h5>Resources</h5>
                         <ul class="list-unstyled text-small">
                             <li><a class="text-muted" href="#">Sample Code Resource</a></li>
                             <li><a class="text-muted" href="#">YouTube Link</a></li>
                         </ul>
                   </div>
            </div>
      </footer>
</div>
