{% extends 'core/base.html' %}

{% block content %}

    <div class="album py-5 bg-light">
        <div class="container">
            <di class="row">
                {% for core in index %}
                    <di class="col-md-4">
                         <di class="card mb-4 box-shadow">
                             <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="card image cap">

                             <di class="card-body">
                                <h4 class=""><a href="{{ core.get_absolute_url }}"> {{ core.title }}</a></h4>
                                 <p class="card-text"></p>
                                 <div class="d-flex justify-content-between align-itmes-center">
                                     <div class="">
                                        <small class="text-muted">9 mins</small>
                                     </div>
                                 </div>

                             </di>

                         </di>
                    </di>
                {% endfor %}
            </di>
        </div>

    </div>

{% endblock content %}