<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar_brand d-flex align-items-center">
        <svg class="bi bi-display-fill mr-2" width="1em" height="1em" viewBox="0 0 16 16">
        </svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapsed navbar-collapsed" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
                <a class="nav-link" href="/posts/">Manage Posts</a>
            </li>
            <li class="nav-item active"></li>
        </ul>
    </div>
</nav>