{% extends 'core/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">Post Administration</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'core:add' %}">Add New</a>
      </li>
    </ul>
  </div>
</nav>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {% for post in post_list %}
            <div class="col-md-4">
               <div class="card mb-4 box-shadow">
                 <img class="card-img-top" src="https://via.placeholder.com/150x108" alt="Card image cap">
                 <div class="card-body">
                     <h4 class="Lead"><a class="text-dark" href="{% url 'core:single' post.pk %}">{{post.title}}</a></h4>
                      <p class="card-text"></p>
                     <div class="d-flex justify-content-between align-items-center">
                         <div class="btn-group">
                         <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">View</a>
                         <a href="{% url 'core:edit' post.pk %}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">Edit</a>
                         <a href="{% url 'core:delete' post.pk %}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">Delete</a>
                     </div>
                         <small class="text-nuted">9 mins</small>
                    </div>
                </div>
               </div>
            </div>
            {% endfor %}
        </div>
     </div>
    </div>

{% endblock %}
