{% extends 'core/base.html' %}

{% block content %}
     <div class="container">
            <di class="row">
                    <di class="col-12 pt-5">
                             <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="card image cap">
                             <h2 class="pt-5">{{ post.title }}</h2>
                             <p class="card-text"></p>
                             <p>{{ post.excerpt }}</p>

                    </di>
            </di>
        </div>

    </div>

{% endblock content %}